*.pyc
*.DS_Store
.pydevproject
.project
logs/
.settings/
*.log
.cache/
web/settings/__init__.py
settings.py
ice_ci_db.db
htdocs/admin/css/base.css
htdocs/admin/css/changelists.css
htdocs/admin/css/dashboard.css
htdocs/admin/css/fonts.css
htdocs/admin/css/forms.css
htdocs/admin/css/login.css
htdocs/admin/css/rtl.css
htdocs/admin/css/widgets.css
htdocs/admin/fonts/LICENSE.txt
htdocs/admin/fonts/README.txt
htdocs/admin/fonts/Roboto-Bold-webfont.woff
htdocs/admin/fonts/Roboto-Light-webfont.woff
htdocs/admin/fonts/Roboto-Regular-webfont.woff
htdocs/admin/img/calendar-icons.svg
htdocs/admin/img/icon-addlink.svg
htdocs/admin/img/icon-alert.svg
htdocs/admin/img/icon-calendar.svg
htdocs/admin/img/icon-changelink.svg
htdocs/admin/img/icon-clock.svg
htdocs/admin/img/icon-deletelink.svg
htdocs/admin/img/icon-no.svg
htdocs/admin/img/icon-unknown-alt.svg
htdocs/admin/img/icon-unknown.svg
htdocs/admin/img/icon-yes.svg
htdocs/admin/img/inline-delete.svg
htdocs/admin/img/LICENSE
htdocs/admin/img/README.txt
htdocs/admin/img/search.svg
htdocs/admin/img/selector-icons.svg
htdocs/admin/img/sorting-icons.svg
htdocs/admin/img/tooltag-add.svg
htdocs/admin/img/tooltag-arrowright.svg
htdocs/admin/img/gis/move_vertex_off.svg
htdocs/admin/img/gis/move_vertex_on.svg
htdocs/admin/js/actions.js
htdocs/admin/js/actions.min.js
htdocs/admin/js/calendar.js
htdocs/admin/js/cancel.js
htdocs/admin/js/change_form.js
htdocs/admin/js/collapse.js
htdocs/admin/js/collapse.min.js
htdocs/admin/js/core.js
htdocs/admin/js/inlines.js
htdocs/admin/js/inlines.min.js
htdocs/admin/js/jquery.init.js
htdocs/admin/js/popup_response.js
htdocs/admin/js/prepopulate.js
htdocs/admin/js/prepopulate.min.js
htdocs/admin/js/prepopulate_init.js
htdocs/admin/js/SelectBox.js
htdocs/admin/js/SelectFilter2.js
htdocs/admin/js/timeparse.js
htdocs/admin/js/urlify.js
htdocs/admin/js/admin/DateTimeShortcuts.js
htdocs/admin/js/admin/RelatedObjectLookups.js
htdocs/admin/js/vendor/jquery/jquery.js
htdocs/admin/js/vendor/jquery/jquery.min.js
htdocs/admin/js/vendor/jquery/LICENSE-JQUERY.txt
htdocs/admin/js/vendor/xregexp/LICENSE-XREGEXP.txt
htdocs/admin/js/vendor/xregexp/xregexp.js
htdocs/admin/js/vendor/xregexp/xregexp.min.js
htdocs/rest_framework/css/bootstrap-tweaks.css
htdocs/rest_framework/css/bootstrap.min.css
htdocs/rest_framework/css/default.css
htdocs/rest_framework/css/prettify.css
htdocs/rest_framework/docs/css/base.css
htdocs/rest_framework/docs/css/bootstrap-theme.min.css
htdocs/rest_framework/docs/css/bootstrap.min.css
htdocs/rest_framework/docs/css/font-awesome-4.0.3.css
htdocs/rest_framework/docs/css/highlight.css
htdocs/rest_framework/docs/css/jquery.json-view.min.css
htdocs/rest_framework/docs/fonts/fontawesome-webfont.eot
htdocs/rest_framework/docs/fonts/fontawesome-webfont.svg
htdocs/rest_framework/docs/fonts/fontawesome-webfont.ttf
htdocs/rest_framework/docs/fonts/fontawesome-webfont.woff
htdocs/rest_framework/docs/fonts/glyphicons-halflings-regular.eot
htdocs/rest_framework/docs/fonts/glyphicons-halflings-regular.svg
htdocs/rest_framework/docs/fonts/glyphicons-halflings-regular.ttf
htdocs/rest_framework/docs/fonts/glyphicons-halflings-regular.woff
htdocs/rest_framework/docs/fonts/glyphicons-halflings-regular.woff2
htdocs/rest_framework/docs/img/favicon.ico
htdocs/rest_framework/docs/img/grid.png
htdocs/rest_framework/docs/js/api.js
htdocs/rest_framework/docs/js/bootstrap.min.js
htdocs/rest_framework/docs/js/highlight.pack.js
htdocs/rest_framework/docs/js/jquery-1.10.2.min.js
htdocs/rest_framework/docs/js/jquery.json-view.min.js
htdocs/rest_framework/fonts/glyphicons-halflings-regular.eot
htdocs/rest_framework/fonts/glyphicons-halflings-regular.svg
htdocs/rest_framework/fonts/glyphicons-halflings-regular.ttf
htdocs/rest_framework/fonts/glyphicons-halflings-regular.woff
htdocs/rest_framework/fonts/glyphicons-halflings-regular.woff2
htdocs/rest_framework/img/glyphicons-halflings-white.png
htdocs/rest_framework/img/glyphicons-halflings.png
htdocs/rest_framework/img/grid.png
htdocs/rest_framework/js/ajax-form.js
htdocs/rest_framework/js/bootstrap.min.js
htdocs/rest_framework/js/coreapi-0.1.0.js
htdocs/rest_framework/js/csrf.js
htdocs/rest_framework/js/default.js
htdocs/rest_framework/js/jquery-1.12.4.min.js
htdocs/rest_framework/js/prettify-min.js
web/settings/uwsgi.ini
