{
  "artifacts": {},
  "toscaArtifacts": {},
  "contactId": "{{contact_id}}",
  "categories": [
    {
      "name": "{{category_name}}",
      "normalizedName": "{{category_name_lower}}",
      "uniqueId": "{{category_id}}",
      "icons": [
        "{{category_name_icon}}"
      ],
      "subcategories": null,
      "version": null,
      "ownerId": null,
      "empty": false,
      "type": null
   }
  ],
  "description": "{{description}}",
  "icon": "defaulticon",
  "componentInstancesProperties": {},
  "componentInstancesAttributes": {},
  "name": "{{service_name}}",
  "tags": [
    "{{tag}}",
    "{{service_name}}"
  ],
  "capabilities": {},
  "requirements": {},
  "deploymentArtifacts": {},
  "componentType": "SERVICE",
  {% if project_code != '' %}
  "projectCode": "{{project_code}}",
  {% endif %}
  "componentInstances": [],
  "properties": [],
  "attributes": [],
  "forwardingPaths": {},
  "ecompGeneratedNaming": {{ecomp_generated_naming}},
  "serviceApiArtifacts": {},
  "instantiationType": "{{instantiation_type}}",
  "environmentContext": "{{environment_context}}",
  "serviceType": "{{service_type}}",
  "serviceRole": "{{service_role}}",
  "namingPolicy": "{{naming_policy}}"
}
