{
  "artifacts": {},
  "toscaArtifacts": {},
  "contactId": "{{contact_id}}",
  "categories": {{categories|tojson(indent=4)}},
  "description": "{{vnf_description}}",
  "icon": "defaulticon",
  "componentInstancesProperties": {},
  "componentInstancesAttributes": {},
  "name": "{{vnf_name}}",
  "tags": [
    "{{vnf_name}}"
  ],
  "capabilities": {},
  "requirements": {},
  "deploymentArtifacts": {},
  "componentType": "RESOURCE",
  "vendorName": "{{vendor_name}}",
  "vendorRelease": "1.0",
  "componentInstances": [],
  "properties": [],
  "attributes": [],
  "groups": [],
  "resourceType": "{{resource_type}}",
  "csarUUID": "{{software_product_id}}",
  "csarVersion": "1.0"
}