parameters:

  # NETWORK_ROLE: private
  vlb_private_net_id: zdfw1lb01_private
  vlb_private_net_cidr: 192.168.10.0/24
  vlb_0_int_pktgen_private_port_0_mac: fa:16:3e:00:01:10

  # NETWORK_ROLE: pktgen_private
  pktgen_private_net_id: zdfw1pktgen01_private
  pktgen_private_net_cidr: 192.168.9.0/24
  vpg_0_int_pktgen_private_port_0_mac: fa:16:3e:00:01:20

  # METADATA
  # vnf_name: vLBMS
  # vnf_id: vLoadBalancer_demo_app

  # PRIVATE KEY
  key_name: vlb_key
  pub_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCimjj/DSIHCeC60kimJqw4QFxge/YjfnrXx76tVvm6iNfPGbwu/LzOzS0xDQSw8lcmM71Ys09OBSw9+6HqpBsKL+hDZxWYAyY/qfl0fXWirKoIZbUy6xYHDJEv9z0sMa3NG3d2jRVkANKx9rrpcM2p5GeLalyGTEibNI2ZHQL9L2qjKfHrchi3oQvkMYzj38lzUc6+Sawp/kx2iLgFKQDkRbSSNRUCiB+rmK1ZBIt0XzIogEfQCSDOQVFm4vqtga1QJOtoJzmad1oP6m9YpqPOi7DZxRt373xAdOHRmQJKk9iQhwBaNm8wHTYKUfoKh+chDeVgA/1JECIhgxcqjKUf stark@DUMMYCOMP