{
  "fromNode": "{{from_node_resource_id}}",
  "toNode": "{{to_node_resource_id}}",
  "relationships": [{
    "relation": {
      "relationship": {
        "type": "{{relationship_type}}"
      },
      "capability": "{{capability_name}}",
      "capabilityOwnerId": "{{capability_owner_id}}",
      "capabilityUid": "{{capability_id}}",
      "requirement": "{{requirement_name}}",
      "requirementOwnerId": "{{from_node_resource_id}}",
      "requirementUid": "{{requirement_id}}"
    }
  }]
}