[
  {
    "constraints": null,
    "defaultValue": null,
    "description": "{{description}}",
    "name": "{{property_name}}",
    "parentUniqueId": "{{parent_unique_id}}",
    "password": false,
    "required": true,
    "schema": {
      "property": {}
    },
    "schemaType": null,
    "type": "{{property_type}}",
    "uniqueId": "{{unique_id}}",
    "value": "{{property_default_value}}",
    "definition": false,
    "getInputValues": null,
    "parentPropertyType": null,
    "subPropertyInputPath": null,
    "getPolicyValues": null,
    "inputPath": null,
    "valueUniqueUid": null,
    "ownerId": "{{owner_id}}"
  }
]