{
"constraints": [],
"name": "{{property_name}}",
"parentUniqueId": "{{parent_unique_id}}",
"password": false,
"required": false,
"schema": {"property": {}},
{% if schema_type != "" %}
"schemaType": "{{schema_type}}",
{% endif %}
"type": "{{property_type}}",
"uniqueId": "{{unique_id}}",
"value": "{{property_default_value}}",
"definition": false,
"toscaPresentation": {
  "ownerId": "{{owner_id}}"
}
}
