{
"defaultValue": "{{input_default_value}}",
"description": null,
"name": "{{input_name}}",
"parentUniqueId": "{{input_parent_unique_id}}",
"password": false,
"required": false,
"schema": {
  "property": {}
},
"type": "string",
"uniqueId": "{{input_unique_id}}",
"value": null,
"definition": false,
"getInputValues": null,
"instanceUniqueId": null,
"propertyId": null,
"properties": null,
"inputs": null,
"ownerId": "{{input_owner_id}}",
"inputPath": null
}
