[
{
    "uniqueId": "{{unique_id}}",
    "type": "{{property_type}}",
    "required": false,
    "definition": false,
    "defaultValue": null,
    "description": null,
    "schema": null,
    "password": false,
    "name": "{{input_name}}",
    "value": "{{input_value}}",
    "label": null,
    "hidden": false,
    "immutable": false,
    "inputPath": null,
    "status": null,
    "inputId": null,
    "instanceUniqueId": null,
    "propertyId": null,
    "parentPropertyType": null,
    "subPropertyInputPath": null,
    "annotations": null,
    "parentUniqueId": "{{parent_unique_id}}",
    "getInputValues": null,
    "isDeclaredListInput": false,
    "getPolicyValues": null,
    "constraints": null,
    "inputs": null,
    "properties": null,
    {% if schema_type != "" %}
    "schemaType": "{{schema_type}}",
    {% endif %}
    "schemaProperty": null,
    "getInputProperty": false,
    "version": null,
    "ownerId": "{{owner_id}}",
    "empty": false
}
]