{
  "uniqueId": "{{new_catalog_resource_id}}{{milli_timestamp}}",
  "posX": {{posX}},
  "posY": {{posY}},
  "name": "{{new_catalog_resource_name}}",
  "componentVersion": "1.0",
  "originType": "{{originType}}",
  "icon": "defaulticon",
  "componentUid": "{{new_catalog_resource_id}}"
}