{
  "requestDetails": {
    "requestInfo": {
      "instanceName": "{{volume_module_instance_name}}",
      "source": "VID",
      "suppressRollback": false,
      "requestorId": "test"
    },
    "modelInfo": {
      "modelType": "volumeGroup",
      "modelInvariantId": "{{model_invariant_id}}",
      "modelVersionId": "{{model_version_id}}",
      "modelName": "{{model_name}}",
      "modelVersion": "{{model_version}}",
      "modelCustomizationId": "{{model_customization_id}}",
      "modelCustomizationName": "{{model_name}} 0"
    },
    "requestParameters": {
      "userParams": [],
      "testApi": "{{api_type}}",
      "usePreload": true
    },
    "cloudConfiguration": {
      "tenantId": "{{tenant_id}}",
      "cloudOwner": "{{cloud_owner}}",
      "lcpCloudRegionId": "{{cloud_region}}"
    },
    "relatedInstanceList": [{
      "relatedInstance": {
        "instanceId": "{{service_instance_id}}",
        "modelInfo": {
          "modelType": "service",
          "modelName": "{{service_model_name}}",
          "modelInvariantId": "{{service_model_invariant_id}}",
          "modelVersion": "{{service_model_version}}",
          "modelVersionId": "{{service_model_version_id}}"
        }
      }
    },
    {
      "relatedInstance": {
        "instanceId": "{{vnf_instance_id}}",
        "modelInfo": {
          "modelType": "vnf",
          "modelName": "{{vnf_model_name}}",
          "modelInvariantId": "{{vnf_model_invariant_id}}",
          "modelVersion": "{{vnf_model_version}}",
          "modelVersionId": "{{vnf_model_version_id}}",
          "modelCustomizationId": "{{vnf_model_customization_id}}",
          "modelCustomizationName": "{{vnf_model_name}} 0"
        }
      }
    }]
  }
}