 {
  "requestDetails": {
    "requestInfo": {
      "source": "VID",
      "requestorId": "cs0008"
    },
    "modelInfo": {
      "modelType": "vnf",
      "modelInvariantId": "{{service_invariant_id}}",
      "modelName": "{{service_name}}",
      "modelVersion": "{{service_version}}"
    },
    "requestParameters": {
      "testApi": "{{api_type}}"
    },
    "cloudConfiguration": {
      "cloudOwner": "CloudOwner",
      "lcpCloudRegionId": "None",
      "tenantId": "NoTenant"
    }
  }
 }