 {
  "requestDetails": {
    "requestInfo": {
      "source": "VID",
      "requestorId": "cs0008"
    },
    "modelInfo": {
      "modelType": "vfModule",
      "modelInvariantId": "{{module_invariant_id}}",
      "modelName": "{{module_name}}",
      "modelVersion": "{{module_version}}"
    },
    "requestParameters": {
      "testApi": "{{api_type}}"
    },
    "cloudConfiguration": {
      "lcpCloudRegionId": "{{cloud_region}}",
      "tenantId": "{{tenant_id}}",
      "cloudOwner": "{{cloud_owner}}"
    }
  }
 }