{
  "requestDetails": {
    "requestInfo": {
      "instanceName": "{{service_instance_name}}",
      "source": "onap_client",
      "suppressRollback": false,
      "requestorId": "{{requestor_id}}"
    },
    "modelInfo": {
      "modelType": "service",
      "modelInvariantId": "{{model_invariant_id}}",
      "modelVersionId": "{{model_version_id}}",
      "modelName": "{{model_name}}",
      "modelVersion": "{{model_version}}"
    },
    "cloudConfiguration": {
      "tenantId": "{{tenant_id}}",
      "cloudOwner": "{{cloud_owner}}",
      "lcpCloudRegionId": "{{cloud_region}}"
    },
    "requestParameters": {
      "userParams": [],
      "testApi": "{{api_type}}",
      "subscriptionServiceType": "{{service_type}}",
      "aLaCarte": true
    },
    "subscriberInfo": {
      "globalSubscriberId": "{{customer_id}}"
    },
    "project": {
      "projectName": "{{project_name}}"
    },
    "owningEntity": {
      "owningEntityId": "{{owning_entity_id}}"
    }
  }
}