{
  "name": "{{software_product_name}}",
  "description": "{{description}}",
  "category": "resourceNewCategory.{{category}}",
  "subCategory": "resourceNewCategory.{{category}}.{{sub_category}}",
  "onboardingMethod" : "NetworkPackage",
  "licensingVersion":  "{{license_model_version_id}}",
  "vendorName": "{{vendor_name}}",
  "vendorId": "{{license_model_id}}",
  "icon": "icon",
  "licensingData": {
    "licenseAgreement": "{{license_agreement_id}}",
    "featureGroups": [
      "{{feature_group_id}}"
    ]
  }
}